body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

div#background-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  margin: 0;
  padding: 0;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  background: url('../img/viewbook.png') no-repeat center center fixed;
  background-size: cover;
  filter: blur(.5rem);
}

div#page-container {
  position: relative;
  z-index: 1;
  padding: 1rem 3rem;
  width: 66dvw;
  height: 100dvh;
  background-color: #fff;
  font-family: "Inter", sans-serif;
}

div#bookings-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
  gap: 2rem;
}

div.booking {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 4rem;
  border: 1px solid #60a5fa;
  border-left: 2rem solid #60a5fa;
  border-radius: 0.8rem;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08); */
  transition: transform 0.2s;
}

div.booking:hover {
  transform: translateY(-.3rem);
}

div.booking h3 {
  margin: 0;
}

div.booking-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.booking-header>h3 {
  color: #60a5fa;
}

div.booking-route {
  display: flex;
  justify-content: space-between;
}

div.booking-date {
  display: flex;
  justify-content: space-between;
}

.icon {
  margin: 0 1.6rem 0 0;
}

.label {
  color: #94a3b8;
}
