@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: right;
    padding: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #f1f5f9;
    box-shadow: 0 1px 10px #f1f5f9;
    z-index: 999;
}

header > a {
    font-family: "Inter", sans-serif;
    font-size: 2.25rem;
    font-weight: 600;
    margin: 0;
    padding: 1.5rem 3rem;
}

a.link:link,
a.link:hover,
a.link:visited,
a.link:active {
    color: #57534e;
    text-decoration: none;
}

a.link:hover {
    color: #0c0a09;
    background-color: #f1f5f9;
}