<footer>
  <link rel="stylesheet" href="../css/main.css" />
  <link rel="stylesheet" href="../css/footer.css" />
  <div id="company-info">
    <a href="#">EasyFly Logo</a>
    <p>
      "Fly Easy, Book Smarter" is our motto, and we are committed to providing
      you with the best flight booking experience possible.
    </p>
    <p id="copyright">&copy; 2025 EasyFly. All rights reserved.</p>
  </div>
  <div id="link-container">
    <div id="site-map">
      <h4>Site Map</h4>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Book</a></li>
        <li><a href="#">My Flights</a></li>
        <li><a href="#">Login/Sign-Up</a></li>
      </ul>
    </div>
    <div id="socials">
      <h4>Socials</h4>
      <ul>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Twitter(X)</a></li>
        <li><a href="#">LinkedIn</a></li>
      </ul>
    </div>
  </div>
</footer>
