<link rel="stylesheet" href="../css/main.css" />
<link rel="stylesheet" href="../css/footer.css" />
<div id="company-info">
  <a href="#">EasyFly Logo</a>
  <p>
    Never think about booking problems anymore with EasyFly. <br />Fly safe, fly
    easy.
  </p>
  <p id="copyright">&copy; 2025 EasyFly. All rights reserved.</p>
</div>
<div id="link-container">
  <div id="site-map">
    <h4>Site Map</h4>
    <li><a href="#">Home</a></li>
    <li><a href="#">Book</a></li>
    <li><a href="#">My Flights</a></li>
    <li><a href="#">Login/Sign-Up</a></li>
  </div>
</div>
